@model Website.Models.AccountDataModel
@using TradeBot.Account.AccountService.v1;

<p>Электронная почта: @Model.Email</p>
@{
    if (Model.Exchanges.Count > 0)
        foreach (ExchangeAccessInfo exchange in Model.Exchanges)
        {
        <p>Название: @exchange.Name, Токен: @exchange.Token, Секрет: @exchange.Secret</p>
        <form method="post">
            <input type="submit" name="DeleteButton" value="Удалить"/>
            <input type="hidden" name="exchangeCode" value="@((int)exchange.Code)"/>
        </form>
        }
    else { <p>Биржи отсутствуют.</p> }
}

<form action="account/addexchangeaccess">
    <input type="submit" value="Добавить новую биржу" />
</form>